
<%= simple_form_for(@cocktail) do |f| %>
  <div class="form-inputs w-50">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add a new cocktail", class: "btn btn-primary" %>
  </div>
<% end %>
