<div class="container d-flex align-item-center justify-content-between border border-light shadow mt-4 w-50">
<div class="content p-4 d-inline-block flex-grow-1">
  <h2>Add a new cocktail</h2>

  <%= render 'form', cocktail: @cocktail %>
  <br>
  <%= link_to 'Back to list', cocktails_path, class: "btn btn-danger" %>
</div>
</div>
